<div class="container py-4">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
            <img src="../../../assets/hotline.jpg" class="w-50">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Need Help?</h4>
              <p class="card-text">Call the Emgerency Hotline </p>
              <p class="card-text">1-800-622-4357</p>
            </div>
          </div>

        </div>
      </div>
    </div>
