<img class="parallax" style="filter:brightness(50%);  opacity: 0.5; filter: alpha(opacity=50); width:100vw; height:100vh; z-index:-10; position:absolute; margin-top:-1.4em;">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="header">
			<h1> Educate Yourself</h1> 
			<h3 style="padding-bottom:1%;"> Opioid Addiction and Dependence </h3>
			<!--<div id="content" class="container">
			<h3> Opioid addiction and dependence</h3>
			<h4>Physical reliance on opioids, a substance found in certain prescription
pain medications and illegal drugs like heroin. </h4>-->

</div>
	</div>
		</div>
			</div>

<div class="card-deck"> 
<div class="card">
  <div class="card-body text-center">
    <h3 class="card-title">Common</h3><hr>
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text" style="font-size:17px">Physical reliance on opioids, a substance found in certain prescription
pain medications and illegal drugs like heroin.</p>

<p> Treatable by a medical professional</p>
<p> Usually self-diagnosable</p>
<p> Opioids are prescribed to treat acute pain. With prolonged use, painrelieving
effects lessen and pain can become worse. In addition, the body
can develop dependence. Opioid dependence causes withdrawal
symptoms, which makes it difficult to stop taking them. Addiction occurs
when dependence interferes with daily life.</p>
<img src="../../../assets/alternative_age_graph.jpg" style="min-height:0px ; min-width:0px; max-width:100%;" >

    <!--<a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
 </div>
 </div> 
 <span style="position:absolute;">
 <div class="card2" >
  <div class="card-body text-center">
    <h3 class="card-title">Symptoms</h3><hr>
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text" style="font-size:17px">Usually self-diagnosable</p>
<p>Symptoms of addiction include uncontrollable cravings and inability to
control opioid use even though it's having negative effects on personal
relationships or finances.</p>

<p> <strong>People may experience:</strong></p>
<p><strong>Whole body:</strong> craving or sweating</p>
<p><strong>Mood:</strong>  euphoria or general discontent</p>
<p><strong>Also common:</strong> physical substance dependence, chronic constipation,
small pupils, nausea, reduced sex drive, sensitivity to pain, shallow
breathing, or slurred speech</p>
    <!--<a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
 </div>
 </div></span>
 
 <div class="card3" style=" width:96%">
  <div class="card-body text-center">
    <h2 class="card-title">Treatments</h2>
	<hr>
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <div style="text-align:justify; padding-right:20px;"><p class="card-text" style="font-size:17px">
	Treatment varies but may include discontinuing the drug. Medications
such as methadone can help alleviate the symptoms of withdrawal and
cravings. Pairing medication with inpatient or support programs generally
has the most success.
</p>

<p> <strong><h4>Medical procedure</h4></strong></p>
<p><strong>Drug detoxification:</strong>Medical management of the serious withdrawal symptoms
that occur when a person addicted to drugs stops using them. Often requires
prescription medications.
</p>
<p> <strong><h4>Therapies</h4></strong></p>

<p> <strong>Gradual discontinuation of opioids</strong></p>
<p><strong>Counseling:</strong>Professional advice and support that help people solve problems,
make decisions, and change their behavior.
</p>
<p> <strong>Opioid replacement therapy</strong></p>

<h3> <strong>Medications</strong></h3>
<p><strong>Narcotic:</strong> Relieves pain, dulls the senses, and causes drowsiness. May become
addictive.
</p>
<ul style="text-align:left;">
  <li>Buprenorphine (Buprenex, Butrans, Probuphine, and Belbuca)</li>
  <li>Methadone (Methadose, Diskets, Dolophine, and Methadone Intensol)</li>
  <li>Buprenorphine / Naloxone (Suboxone, Zubsolv, and Bunavail)</li>
</ul>
    <!--<a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
<p><strong>Sedative:</strong>Causes drowsiness, calmness, and dulled senses. Some types may
become addictive.
</p>
<ul style="text-align:left;">
	<li>Clonidine (Catapres, Kapvay, Catapres-TTS-1, Catapres-TTS-2, and
Catapres-TTS-3)</li></ul>
<p><strong><h4>Specialists</h4></strong></p>
<p><strong>Pain management:</strong>Eases suffering and improves quality of life for those in pain.
</p>
<p><strong>Psychiatrist:</strong>Treats mental disorders primarily with medications
</p>
<p><strong>Primary care provider (PCP):</strong>Prevents, diagnoses, and treats diseases.
</p>
			</div>
 </div>
 </div>
 
 
 
 </div>


