<img src="../../../assets/addicts_group.jpg" style="filter:brightness(50%); width:100vw; height:100vh; z-index:-10; position:absolute; ">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
			 
<!--<div class="container-fluid">
  <div class="container btn-container">
    <div class="container stats">
      <button type="button" class="btn btn-primary btn-lg" routerLink="/stats">Statistics</button>
    </div>
    <div class="container res">
      <button type="button" class="btn btn-primary btn-lg" routerLink="/resources">Resources</button>
    </div>
  </div>
</div> -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content" style="margin-top:-15%;">
			 <form class="form-inline my-2 my-lg-0" style="margin-left:38%; padding-bottom:3%;" >
  <!-- <input class="form-control mr-sm-2" type="search" placeholder="Zipcode"  aria-label="Search">
  <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button> -->
</form>
      <button class="btn-default btn-lg"><i class="fa " routerLink="/self-treatment"></i>Self-Treatment</button>
      <!-- <button class="btn-default btn-lg"><i class="fa " routerLink="/rehab"></i>Rehabilitation</button> -->
       <button class="btn-default btn-lg"><i class="fa " routerLink="/resources">Resources</i></button>
		</div>
	  </div>
	</div>
</div>
		</div>
	  </div>
	</div>
</div>

<app-emergency></app-emergency>
