
<img class="parallax" style="filter:brightness(50%);  opacity: 0.5; filter: alpha(opacity=50); width:100vw; height:100vh; z-index:-10; position:absolute; margin-top:-1.4em;">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="header">
			<h1> Resources</h1> 
<!-- 			<h3 style="padding-bottom:1%;"> Recent Articles</h3>
 -->			<!--<div id="content" class="container">
			<h3> Opioid addiction and dependence</h3>
			<h4>Physical reliance on opioids, a substance found in certain prescription
pain medications and illegal drugs like heroin. </h4>-->

</div>
	</div>
		</div>
			</div>
 
 <div class="card3" style=" width:96% ; padding-top:5%;">
  <div class="card-body text-center">
    <h2 class="card-title">Frequently Asked Questions​</h2>
	<hr>
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text" style="font-size:17px">
	<div style="text-align:justify; padding-right:20px;">

<h4>General​</h4>

<h6>WHAT ARE OPIOIDS?​</h6>

<p>Opioid drugs are important medications for the treatment of pain, opioid dependence, and terminal illness. But, these drugs also have the potential to produce physical dependence, abuse, and addiction. Opioid drugs include heroin as well as medications available by prescription such as oxycodone and methadone. Opioids work by blocking your brain’s sensation of pain. They can also affect the pleasure center of your brain, causing a sense of euphoria.​

When taken as directed, opioids can be very effective in relieving pain. However, the body soon begins to develop a tolerance for the medication, so that the same dose of medication offers less pain relief. If you feel the need to take more of the drug than was prescribed to you – talk to your doctor!​</p>

<h6>WHAT IS AN OVERDOSE?​</h6>

<p>Opioid overdoses happen when there are so many opioids overloading the body that the brain shuts down breathing. This happens because opioids fit into specific receptors in the brain that have an effect on breathing. If someone can’t breathe or isn’t breathing enough, then oxygen can’t get to the brain and after a very short time the heart stops, which leads to unconsciousness, coma, then death. The lack of oxygen from slowed or stopped breathing is the key dangerous aspect to an opioid overdose.​</p>

<h6>WHAT ARE SOME COMMON OPIOIDS I MAY HAVE HEARD OF?</h6>

<p>Vicodin, Percocet, OxyContin, Oxycodone, Methadone, Morphine, Opana, Dilaudud, and Fentanyl among others.​</p>

<h6>WHAT ARE SOME ADDICTION WARNING SIGNS TO WATCH OUT FOR?​ ​</h6>

<p>Taking opioid medications for the feeling of pleasure or euphoria or for emotional escape​

People suggesting that you cut back or quit using the medications​

Taking the medications other than orally such as crushing and snorting, or injecting​

Having cravings when not taking the drugs​

Seeking early refills of prescriptions, prescriptions from other doctors, or drugs from other sources​</p>

<h6> ARE SOME TIPS FOR PATIENTS WITH PAIN MEDICATION?​</h6>

Do not increase your dosage without consulting your doctor​

Be aware of potential interactions with other substances, such as alcohol, antihistamines, anti-anxiety drugs such as benzodiazepines, and sleep aids​

Do not sell or give your medications to others, or accept medications from other sources than a pharmacy​

Tell your doctor about any other drugs you take, including over-the-counter medicines and street drugs​

Tell your doctor if you have a history of substance abuse, an addictive personality, or are experiencing any of the warning signs of addiction​

<h6>WHAT ARE SOME OF THE SIGNS OF AN OPIOID OVERDOSE?​</h6>

Blue lips, fingernails, or toenails​

Very slow or no breathing​

Faint pulse or no pulse​

Pale and clammy skin​

Unresponsive to calling their name or to pain​

Snoring or gurgling noises while asleep or nodding out​

<h6>HOW CAN I PREVENT AN ACCIDENTAL OVERDOSE ON PRESCRIPTION OPIOIDS?​</h6>

Know what you are taking: Go online to www.drugs.com/pill_identification.html to learn what pill you are taking, and the dose. 5mg of Vicodin is not the same as 5mg of Percocet or 5mg of Methadone. Know the difference between short-acting, long-acting, and extended release. Extended release contains more of the drug and lasts longer.​

Avoid mixing opioids with alcohol and other drugs: Do not mix opioid medications with alcohol or other drugs. Drugs with the same effects (i.e., downers like opioids and alcohol) can dangerously slow breathing. For drugs with opposite effects (like taking opioids with stimulants), you may take too much of the downer because you can’t feel its full effects.​

Know your tolerance: If you have a period of not taking your prescribed opioid and then start taking it again talk to your doctor first! It may take less of the medication to have the same effect. Also, if you are sick, tired, haven’t eaten, or have lost weight, your tolerance may be lower.​

Avoid using other than as directed: Prescription medications can take a long time to have their full effect. Keep this in mind if you think the medication is not working fast enough. Never chew, cut, crush, or dissolve opioid tablets or capsules and talk to your doctor if you need to take more medication than prescribed to get pain relief – you may need a different dose or type of medication.​

Remember: Always follow proper dosing and let your doctor know if you are in drug treatment or are taking any other medications!​

<h6>WHAT ARE SOME GENERAL HIGH RISK SITUATIONS AND HOW DO I REDUCE THE RISKS?​</h6>

Mixing Drugs​

Drugs with the same effects (opiates and other depressants such as alcohol): Drugs with the same effects compound respiratory depression.​

Drugs with opposite effects (like speedballs): If the upper wears off or prevents you from feeling the effects of the downer, you might end up doing more of the downer than you can handle.​

Avoid mixing drugs, especially opioids, alcohol and benzos. Know what to expect if you do mix.  Start with a lower dose or do a “test shot” to taste the drug.​

Using Alone, By Yourself​

This is one of the most common reasons for overdose deaths.​

Avoid using alone. Use with friends if you can, or, use in a quiet room by yourself but with people in the next room.  If you do use alone, keep a cell phone with you and leave the door unlocked.  Talk with friends and family about responding to an overdose.​

Lowered Tolerance​

Any period of abstinence, even one day, can lower tolerance. Coming out of jail, detox, drug treatment, a sober house, etc., puts you at higher risk.​

If you’ve just moved, if you’ve gotten drugs from a new dealer, or the dealer gets a new batch, the drugs may be stronger than what you’re used to.​

If you are sick, tired, haven’t eaten, or have lost weight, your tolerance may be lower.​

Personal health and history of overdose:​

Any respiratory troubles such as smoking, COPD, emphysema, asthma, sleep apnea, respiratory infection, or other respiratory illness make it harder to breathe, and make it likelier that your breathing will stop.​

Diseases such as HIV/AIDS, Hep C, Renal dysfunction, hepatic disease, and cardiac illness increase your chances of overdose.​

Being sick, tired, or not having eaten increase overdose risk as well.​

Having overdosed in the past is the greatest predictor of a future overdose!​

Be aware of reduced tolerance: Be aware of changes in your health or your weight. Be aware after a period of abstinence, for any reason. If you start again your tolerance will be lower.​

Purity/Dose​

The purity of what is on the street isn’t always known. If you know that you are switching to a stronger/pure drug/pill it’s important to not rush it.​

Stick to your prescription: If you are taking pain pills at a high dose and/or are taking long-acting opioids like Oxycontin or fentanyl, stick to your prescription if you have one. Start low, go slow if you have picked them up without a prescription. If you see a doctor, talk to them about overdose risk.​

<h6>HOW CAN I TELL WHETHER IT’S REALLY AN OVERDOSE?​</h6>

Look (is their chest moving?), Listen (with your ear to their mouth) and Feel (with your ear to their mouth is there any breath on your cheek?) to see if the person is still breathing even slightly. If they are breathing even a little, but are not responsive, you can help with rescue breathing.​

Do a “chest noogie”- take your knuckles and rub roughly on the center of their chest. If a person isn’t overdosing, they will respond to the pain. If they don’t respond, it is likely an overdose.​

Even if you don’t think it is quite an overdose, don’t leave them alone. Stick with them for a few hours and keep an eye on them, because there is always the chance that a real overdose could develop.​

HOW SHOULD I RESPOND TO AN OPIOID OVERDOSE?​

Signs of an overdose include slow or shallow breathing, pale and clammy skin, snoring or gurgling while asleep and unresponsiveness to yelling or physical stimulation. If you suspect that someone may have overdosed call 911. Additional steps you may take include rescue breathing and giving narcan, if available.​

Try waking them up: Yell their name, rub chest bone with your knuckles.​

Call 911 right away: Give them the address, tell them your friend is not breathing, stay calm and follow their instructions.​

Rescue Breathing​

Make sure nothing is in the persons mouth.​

With one hand on chin, tilt head back, pinch nose closed. Make a seal over mouth and breathe in. One breath every five seconds. Chest should rise, not stomach.​

Continue rescue breathing until Rescue arrives. Tell them what the person took, how much, and any other information that could help save the person’s life.​

Only stop rescue breathing if:​

They begin to breathe on their own​

No one else is present and you are going to give the person narcan, start rescue breathing again as soon as possible​

They have no pulse, and there is someone who can do CPR​

More advanced medical personnel takes over​

You are too exhausted to continue​

​

​

https://www.ct.gov/dmhas/cwp/view.asp?a=2902&q=509650​

<h4>Naloxone​</h4>

<h6>What are the risks associated with naloxone (Narcan) use?​</h6>

Naloxone (Narcan) is a safe prescription medication. Its sole purpose is to reverse an opioid overdose. Unless a person is known to be allergic to naloxone (Narcan), it is safe to administer.​

​

<h6>How quickly does naloxone (Narcan) work?​</h6>

Properly administered, naloxone (Narcan) usually works within 2 – 5 minutes. If there is no response during this time, a second dose should be administered.​

 ​

<h6>Who in the state of CT is authorized to prescribe naloxone (Narcan)?​</h6>

In CT, authorized prescribers are physicians, surgeons, PAs, APRNs, dentists, podiatrists and, with the 2015 legislation, Pharmacists who have been trained and certified.​

 ​

<h6>Where can I go for training and a prescription kit?​</h6>

Any pharmacist who has been trained and certified can prescribe and dispense naloxone (Narcan). The pharmacist will educate the person requesting the naloxone (Narcan) on its use. Additionally, your primary care provider (physicians, surgeons, PAs, APRNs, dentists, and podiatrists) would be able to prescribe naloxone (Narcan) to you. Many programs providing treatment for substance use also have mechanisms in place to provide education and access (through prescriptions or kits) to naloxone (Narcan). You may also check the map of pharmacies with pharmacists approved to prescribe naloxone on the Department of Consumer Protection's website.​

 ​

<h6>Will I be arrested if I call 911 when there’s been an overdose?​</h6>

Public Act 11-210 An Act Concerning Emergency Medical Assistance for Persons Experiencing an Overdose and the Designation of Certain Synthetic Stimulants as Controlled Substances concerns consequences for possession of different substances, but makes an exception in section g, for persons who in good faith seek medical assistance for a person that they reasonably believe is overdosing. Consequently, you should be protected from arrest by this “Good Samaritan” law.​

 ​

<h6>What do I do if I come across someone who has overdosed?​</h6>

If someone you are close to uses opiates, you could, in fact, find yourself in this situation. The first step is to determine whether the person has overdosed on Opioids. Look for the following signs:​

Person is unresponsive or limp​

Person is awake but unable to talk​

Their breathing is slow or erratic or they are not breathing​

Their pulse is slow or erratic or they have no pulse​

Their skin is pale gray or blue, especially around the fingernails and lips​

They are making deep, slow snoring, choking or gurgling sounds​

They are vomiting​

If you cannot wake or get a response from the person, call 911. If they aren’t breathing, start “Rescue Breathing” by moving them onto their back, tilting their head back and lifting their chin, and giving them 2 normal breaths. Give one breath every 5 seconds after this until they begin breathing on their own or help arrives. If you have a naloxone (Narcan) kit, have someone bring it to you and administer the naloxone (Narcan). If you have to leave the person for any reason, put them into the “Recovery Position” by rolling them onto their side so that they won’t choke if they begin vomiting.​

 ​

<h6>How does naloxone (Narcan) work?​</h6>

In the brain, naloxone (Narcan) competes with the opioids the person used for the same receptor sites. Since naloxone (Narcan) has a greater affinity for the binding sites, the opioids the person used are replaced by the naloxone (Narcan) which reverses the overdose effects of the opioids.​

 ​

<h6>What increases/decreases risk of an opioid overdose?​</h6>

These factors increase risk of an opioid overdose:​

Using too much (because you haven’t used that amount before or because it was stronger than what you are used to, or because your tolerance decreased while you weren’t using or were in a detox/program/jail/hospital)​

Using alone​

Mixing opiates with alcohol, pills or cocaine​

Other health issues (Hepatitis, HIV, infections, malnutrition/dehydration, liver disease, kidney disease, heart disease or respiratory disease, asthma, sleep apnea, etc.)​

Previous overdose​

Mode of administration (Smoking and IV use are riskier)​

Age (older people and those with longer histories of drug use are more likely to die as a result of an overdose)​

These factors decrease risk of an opioid overdose:​

Using a consistent source/supplier​

Testing a small amount first​

Using a less rapid mode of administration (snorting)​

Using with someone else​

Using less if you haven’t used in some time, for any reason​

Not letting anyone else prepare your drugs for you​

​

<h6>What are commonly used opioids?​</h6>

Heroin, Oxycontin, fentanyl, morphine, Vicodin, and Percocet. Methadone is also an opioid.​

 ​

<h6>Can a person overdose on a prescription opioid?</h6>​

Certainly a person can overdose on any opioid, regardless of whether it is a prescription medication or not.​

 ​

<h6>Where can a person go for treatment of an addiction?​</h6>

People who need treatment for an addiction have a number of choices. If they have insurance, they should call the number on the insurance card for a referral. Those who don’t have insurance or who have a program like Husky or Medicaid LIA should check the DMHAS website for a list of programs. All programs receiving funding from DMHAS must take some clients without insurance. Also, some programs are designed to treat individuals without insurance (like Blue Hills and CVH Merritt Hall).  Programs range from detox to outpatient to inpatient. Most programs should begin by asking you about your substance use so they can try to match you to the level of care that best meets your needs. DMHAS has a 1-800 number for persons struggling with opioids who want to be connected to services: 1-800-563-4086.​

 ​

<h6>Are all overdoses the same?​</h6>

All overdoses are not the same. An overdose on a stimulant like Cocaine would potentially have some of the same signs like difficulty breathing, vomiting and loss of consciousness, but unlike an opioid overdose, might also have: chest pain, dizziness, foaming at the mouth, lots of sweating or no sweating, racing pulse and seizures.  naloxone (Narcan) will not work on a cocaine overdose and there is no comparable naloxone (Narcan)-like medication to reverse it.​

 ​

<h6>Where do I store the naloxone (Narcan)?​</h6>

Naloxone (Narcan) should be stored at room temperature (neither too hot nor too cold) and should be kept out of sunlight; but not in the refrigerator.​

 ​

<h6>What is an overdose “kit”?​</h6>

Overdose kits are a handy way to be prepared by having everything needed in one place. A container of some sort is necessary to keep all the pieces together. The kit should include 2 doses of naloxone (Narcan), 2 alcohol wipes for cleaning the injection site, a pair of gloves, and a set of instructions. Some kits include other items, such as a Rescue Breathing mask.​

 ​

<h6>Who do I call if I use my prescription or if my naloxone (Narcan) expires and I need a refill?​</h6>

Prescriptions for naloxone (Narcan) are generally written in multiples of two, because of the possibility that the first dose may not work and a second dose may need to be given. Prescribers will vary in terms of how many refills they will be willing to write. Those individuals currently in a program should be able to get refills where they are receiving services. They could also ask their primary care physician. This website also has a list of providers who can write prescription refills.​

 ​

<h6>Should I report if I use the naloxone (Narcan) and reverse the overdose?​</h6>

If you reverse an opioid overdose, congratulations! You can report this good news to the agency where the naloxone (Narcan) was prescribed and/or email susan.bouffard@ct.gov.​

 ​

<h6>Will insurance cover the cost of the naloxone (Narcan)?​</h6>

Insurance may very well cover the cost of the prescription. You can check with your insurance company. If you have Husky C or Medicaid LIA, the cost is covered by these plans.​

 ​

<h6>Will naloxone (Narcan) work if the person overdosed on something other than an opioid​?</h6>

Naloxone (Narcan) will only work to reverse the effects of opioids.​

 ​

<h6>Will the person who recovers from an overdose be violent?​</h6>

People who overdose generally don’t realize what has happened to them. They just come out of it feeling sick. They may misinterpret the situation to think that someone took their drugs and be agitated or upset. The best thing to do is to explain what happened.​

 ​

<h6>Can a person re-overdose after the naloxone (Narcan) has been given?​</h6>

Yes, depending on how much the person used. The naloxone (Narcan) lasts for about 30 – 90 minutes, so it is possible that at the end of that time, the person could re-overdose. The other possibility is that the person will want to use more drugs now that they are feeling sick after the naloxone (Narcan). Under no circumstances should they do this as it will increase the chances of re-overdosing.​

​
<h6>My gamily doctor won’t prescribe me naloxone (Narcan). What are my options?​</h6>

Sometimes doctors aren’t familiar with naloxone (Narcan) or are unwilling to prescribe it. You can still obtain naloxone by going to one of the pharmacies in the state with a pharmacist who has been trained/certified to prescribe and dispense it. Just click on the Naloxone Prescribing Pharmacists link. The list is organized in alphabetical order by name of pharmacy. If you click the tab across the top of the page labeled “more views”, you can access a map with each red dot identifying a pharmacy in that location. If you click on the red dots near your location, you can see which pharmacies in your area have pharmacists willing to prescribe and dispense it to you. Most insurance will cover naloxone, although a co-pay or deductible may apply. The pharmacist will educate you on how to use the Narcan.​

​

<h6>What is fentanyl?​</h6>

Fentanyl is both an opioid medication that can be prescribed to treat pain (it can be prescribed as a transdermal patch worn on the skin) and an illicitly manufactured opioid that can be created in a lab similar to how methamphetamine is created in “meth labs”. It’s the illicitly manufactured fentanyl that is playing a significant role in the current opioid epidemic. Fentanyl and its many analogues are dangerous because they are much stronger than heroin and can be pressed into pills and passed off as other medications or mixed into heroin without the user’s knowledge. Many overdoses now involve fentanyl or fentanyl analogues.​

​

​

​

​

​
			</div>
 </div>
 </div>
 
 
 



			
			 
			<!-- <form class="form-inline my-2 my-lg-0" style="padding-bottom:2em;">
  <input class="form-control mr-sm-2" type="search" placeholder="Zip Code" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a>Search</a></button>
</form>-->
			 
			<!-- <button class="btn-default btn-lg"><i class="fa " aria-hidden="true"></i> Self Treatment</button>
			 <button class="btn-default btn-lg"><i class="fa " aria-hidden="true"></i> Rehabilitation</button>-->
		<!--</div> -->




