<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="container-fluid">
  <div class="container btn-container">
    <div class="container stats">
      <button type="button" class="btn btn-primary btn-lg" routerLink="/stats">Statistics</button>
    </div>
    <div class="container res">
      <button type="button" class="btn btn-primary btn-lg" routerLink="/resources">Resources</button>
    </div>
  </div>
</div>
<div class="container">
  <app-emergency></app-emergency>
</div>
